<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- Devoter films -->
<div class="modal fade" id="Modal-Retirer-{{ film_choisi.id }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
          {{ film_choisi.titre }}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ retirer_film_form.hidden_tag() }}
          <h4 class="text-center">
           Êtes-vous sûr de vouloir retirer le film {{ film_choisi.titre }} de vos choix?
          </h4>
          <br>
          <h6 class="text-center">
            En cliquant sur "dé-voter", vous retirez ce film de vos choix et regagnez un point de vote !
          </h6>
          <br>
          <input id="film_a_retirer" name="film_a_retirer" type="hidden" value="{{film_choisi.titre}}">
          {{ retirer_film_form.soumettre(class="btn btn-outline-danger btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Fermer
        </button>
      </div>
    </div>
  </div>
</div>